.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: orange;
  transition: 0.2s;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single__text {
  flex: 1;
  padding: 5px;
  font-size: 20px;
}


.todos__single__text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.drag {
  box-shadow: 0 0 20px black;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  font-size:15px;

  /* Position the tooltip */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
