.todos {
  display: flex;
  width: 49%;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(50, 195, 205);
}

.container {
  margin-top: 10px;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
}

.remove {
  background-color: rgb(235, 103, 80);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.todos__heading {
  font-size: 30px;
  color: white;
}

@media (max-width: 1100px) {
  .todos {
    width: 47.5%;
  }
}

@media (max-width: 700px) {
  .todos {
    width: 95%;
    margin-bottom:10px
  }

  .container {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
}
